{% extends "base.html" %}

{% block head_content %}
    <title>Dogogram | {{ posts.user.username }}</title>
{% endblock %}

{% block container %}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="..." class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <div class="border">
                <div class="media pt-3 pl-3 pb-1">
                    <a href="{% url "users:detail" posts.user.username %}">
                        <img class="mr-3 rounded-circle" height="35" src="{{ post.profile.picture.url }}" alt="{{ post.user.get_full_name }}">
                    </a>
                    <div class="media-body">
                        <p style="margin-top: 5px;">{{ post.user.get_full_name  }}</p>
                    </div>
                </div>
            </div>
            <div class="media pt-3 pl-3 pb-1">
                <a href="{% url "users:detail" post.user.username %}">
                    <img class="mr-3 rounded-circle" height="35" src="{{ post.profile.picture.url }}" alt="{{ post.user.get_full_name }}">
                </a>
                <div class="media-body">
                    <p style="margin-top: 5px;">{{ post.user.get_full_name  }}</p>
                    {{ posts.title }}
                </div>
            </div>
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}